* {
    background-color: #fefae0;
    color: #bc6c25;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    height: 60%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.square, .square-filled {
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    justify-content: center;
}

button {
    align-self: flex-end;
    background-color: #faedcd;
    margin: 3%;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 20px;
    padding: 20px 40px;
    position: absolute;
}

button:hover {
    background-color: #d4a373;
}

h1 {
    align-self: flex-start;
    font-size: 80px;
}